# セルとセルの実行

## セルとは
コンピュータに我々の指示を与えるためにプログラムコードを書くスペースのことである。これは，Jupyter NotebookやJupyter Labの環境によるものである。<br>
その他，授業で導入予定のGoogle Colaboratoryにも`セル`が存在し，ここにコードを書く。

## セルの実行
セルに書いたプログラム(コード)をコンピュータに指示するとき，`shift`キー+`Enter`キー(Macは`Return`キー)を押す。すると，セルの中身をコンピュータに指示することになる。この過程を`実行`という。<br>
Colaboratoryの場合は，セルの左端にある，`▶︎`のマークをクリックしても実行される。`shift`キー+`Enter`キーのどちらを使用してもよい。<br>
次のことを確認しよう。
1. セルに適当な数値(半角)を入れて実行する。そのときの動作を確認する。
1. セルの中にある`#`(ナンバーという)より右はコメントアウトといって，主に，プログラムの作用や目的などをコメントとして残すために用いる。したがって，左から順番にコンピュータは読み込む。

In [ ]:
## まずは適当に使ってみる。壊れることはない。
## この枠をセルという。この下の行に適当な数値を入れる。そして，実行する。(Enterで改行するとセル内で改行される。その場合は上から順番にコードが解読される)

# 入力する文字
## 入力のときの約束ごとー半角と全角ー
入力文字は半角と全角がある。セルに入力する際，アルファベット，記号，数値は特別なことがない限り，Pythonに慣れるまでは，半角英数字で入力する。したがって，日本語(全角)は使用しない。使う必要のないところで全角入力をした場合は，減点対象とする。<br>
日本語(全角)を用いるのは，データの部分だけである。もちろん，ファイル名は半角の英数字と記号(一部)となるはずである。

## Pythonで扱える文字や数値
Pythonでは，3つのデータ型を扱う。

1. <font color=red>int型</font>：1, 2, 0, -1, -2000, $\cdots$
1. <font color=red>float型</font>：2.3, 3.1415, -0.5, 0.0, -10.4 $\cdots$
1. <font color=red>文字列型</font>：'abc', 'apple', "orange", "support", 'たからづか', '宝塚', 'タロウ', $\cdots$
1. <font color=red>真偽値</font>：True, False 

以下に一つずつ確認してみよう。

In [ ]:
## int型になるように，自分の年齢を入力して実行する

In [ ]:
## float型になるように，自分の身長を入力して実行する

In [ ]:
## 自分の氏名を文字列型にして実行する

In [ ]:
## 真を入力する。

In [ ]:
## 偽を入力する。

# データ型の確認
セルがエラーすることなく実行されると左端に`[ ]`の間に数値が入力される。このPromptの数値を使って，該当するセルで実行したデータのタイプを調べてみよう。<br>
`_`(アンダースコア)の右にPromptの数値を入力して実行するとそのセルの値が表示される。そのセルで実行したデータや値が，`_number`に記憶されていることになる。<br>
上で実行した値を下のセルを使って表示してみよう。

In [ ]:
## 1つ目

In [ ]:
## 2つ目

In [ ]:
## 3つ目

In [ ]:
## 4つ目

次に，上で書いたコードを`type("上で書いたコード")`と書いて，そのコードを実行してみよう。<br>
例：
```
type(_6)
```

In [ ]:
## 1つ目

In [ ]:
## 2つ目

In [ ]:
## 3つ目

In [ ]:
## 4つ目

このように，データの型が表示(出力)される。これは，<u>`( )`の中のデータを表示しなさい</u>，という指示を与えているコードであり，そのようにコンピュータが我々の指示を聞いてくれたことになる。<br>

<font color=red size=10>**重要!!**</font><br>
<font size=6>プログラムの基本$\Longrightarrow$<br>
**左**から順番に，<br>**上**から順番にコードが読み込まれる。</font><br>

# 変数名

データを変数名に代入して，その変数名を用いて計算(処理)することを覚えよう。<br>
変数名を用いる場合，ルールを自分で決めることができる。ただし，以下の点に気を付ける必要がある。<br>
1. 予約語は用いない。
1. 半角英字から始める。
1. 半角英数字と`_`(アンダースコア)を用いて後で読み返してもわかるように与える。
1. `-`（ハイフン）`/`(スラッシュ)などは，数値計算で使うので使わない方がよい。
1. その他

予約語とは，Python変数名，クラス名，関数名として，使うことのできない，すでにPythonで用いられている字句のことを言い，以下のものがある。この字句は，変数名として定義しない。<br>
--予約語--<br>
`False`, `None`, `True`, `and`, `as`, `assert`, `async`, `await`, `break`,<br>
`class`, `continue`, `def`, `del`, `elif`, `else`, `except`, `finally`, `for`,<br>
`from`, `global`, `if`, `import`, `in`, `is`, `lambda`, `nonlocal`, `not`,<br>
`or`, `pass`, `raise`, `return`, `try`, `while`, `with`, `yield`

では，この例を下のセルに入力してみよう。
```
num1 = 3.14
num2 = 10
num3 = 5
```

これは，num1に3.14を`代入せよ`，というコードになる。代入は`=`である。厳密には，同じという意味ではない。あくまで代入である。そのほかも同じことである。<br>
次に，
```
moji_1 = 'tumh'
moji_2 = 'takarazuka'
```
と書いて実行してみよう。

このnum1やnum2，moji_1を変数名と言い，これら変数名には，代入されたデータと同じ扱いができる。そして，一般に変数名を使って計算する。

In [ ]:
## 足し算(+)
# 3.14+10
num1+num2

In [ ]:
## 引き算(-)
#　3.14-10
num1-num2

In [ ]:
## 掛け算(*)
## 3.14*5
num1*num3

In [ ]:
## 割り算(/)
## 10/5
num2/num3

In [ ]:
## 商(//)
## 10/5
num2/num3

In [ ]:
## 剰余(%)
## 10%5
num2%num3

In [ ]:
## 結合
# 'tumh'+'takarazuka'
moji_1+moji_2

文字列同士の足し算は文字が連結する。文字型と数値の足し算はできない。

変数名の使い方はコードを書けば書くほど，覚えてくるので繰り返し自分で様々なパターンを考えて書き，動作を確認してみよう。

# 文字と数値の結合
```
moji_1+num2
```
というコードを実行すると，エラーがでる。これは，文字型同士でないからである。<br>
たまに，数値を文字として扱いたい時がある。その対処法として二つ紹介する(他にもいろいろあるので興味がある人は自分で勉強してください)。

## int型やfloat型から文字型へ
数値を文字として扱えるようにすること上記の問題は解決する。
```
str(数値)
```
とするだけである。<br>
つまり，
```
moji_1+str(num2)
```
となる。また，
```
moji_1+str(num2)
```
と，小数点の数値も扱うことができる。

## f-stringsを用いた方法
`str()`を使えば，簡単に数値を文字に置き換えることができる。<br>
前に述べたが，プログラムでは，変数名を多様することが一般的である。変数名を直接文字に組み込むと，直感的に理解でき，後々解読しやすくなる。<br>
他に，文章を作成する方法は`format()`を用いるものがある。<br>
f-stringsを用いたコードの書き方は，
```
f'例を書く・・・{moji_1}{num2}'
```
となる。基本形は`f'適当な文章{変数名もしくはデータ}'`となる。

# 問題1_文章の作成方法

1. ageという変数名に自分の年齢を代入する。
1. nameという変数名に自分の氏名(漢字)を代入する。
1. nameEという変数名に英表記の氏名を代入する。
1. f-stringsを使って自己紹介の文章を書いてみよう。ただし，name，nameEやageを使う。

In [ ]:
##記入欄

In [ ]:
##記入欄

In [ ]:
##記入欄

In [ ]:
##記入欄

# 問題2

問題1で行ったことをヒントにf-stringsを使って自己紹介用の定型文を作ってみよう。<br>

|姓|名|姓(フリガナ)|名(フリガナ)|性別|年齢|
|-:-|-:-|-:-|-:-|-:-|-:-|
|大西|智也|オオニシ|トモヤ|M|42|
|岡本|加奈子|オカモト|カナコ|F|25|

*セルは必要に応じて増やす。

# リスト(list)
## リストの作成
上記の表を一部抜粋する。
```
大西	智也	オオニシ	トモヤ	M	42
```
これは，`姓，名，フリガナ(姓)，フリガナ(名)，性別，年齢`という順番でくくられた一つのデータとして`意味付け`することができる(文字や数値はただの記号であり，それに意味持たせるのは定義次第である)。<br>
一つのデータ群として扱うことができれば，これらの値はある特定のものに属するデータとしてまとめることができる。そのようなときに，
1. list(組み込み関数)
1. tuple(組み込み関数)
1. dictionary(組み込み関数)
1. DataFrame(pandas)
1. ndarray(NumPy)

というデータ型を用いると，非常に便利である。<br>
これらすべての型の基本原形は，listである。

`[]`(角括弧)内に存在するデータを一つのデータ群として扱う。これを`リスト`という。
```
["リスト"]
["リスト", "abc", 'リスト', 1, 1.5, -2.0, 0, True]
```
もリストである。

上の表の一部を抜粋する。これをリストに変えてみよう。

In [ ]:
大西　　智也　　オオニシ　　トモヤ　　M　　42

このように，リストの中身は，文字型，数値，真偽値，リスト，タプル，DataFrameなど，データ型は何でも良いので，様々なケースに対応できる。

1. `姓，名，フリガナ(姓)，フリガナ(名)，性別，年齢`の順番に並んだ自分のリストを作成する。
1. 上で作成したリストをkihon1(何でも良い)という変数名に代入する。
1. そのデータが入っているか確認する。print()を使う(ググっで調べてみよう)。
1. 次に，生年月日(西暦，月，日)のリストを作成して，適当な変数名に代入する。
1. kihon2(これに限らない)という変数名に，kihon1とリスト形式になった生年月日のリストを作成する。

In [ ]:
## 1つ目

In [ ]:
## 2つ目

In [ ]:
## 3つ目

In [ ]:
## 4つ目

In [ ]:
## 5つ目

## リストの操作
作成した(されている)リストの中身の一部のデータを抽出したり，探したり，書き換えたり，追加したり，削除したり，様々なことができる。<br>
上で作成した，kihon2(他の名かもしれない)を用いて説明する。<br>
リストが作られると，自動的にシーケンス(連続した)データとして，コンピュータのメモリ装置に記憶される。つまり，そのデータ群に番号がふられる。

|リストのデータ|[大西,|智也,|オオニシ,|トモヤ,|M,|42,|[1977,10,1]]|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|インデックス$\rightarrow$|0|1|2|3|4|5|6|
|インデックス$\leftarrow$|-7|-6|-5|-4|-3|-2|-1|

### データの抽出
特定のデータを抽出したい場合は，`変数名[インデックス番号]`とする。
```
x = ["a","b","c","d","e","f","g"]
print(x[0])
```
このような書き方となる。<br>
解説すると，以下の通りである。

- 'a'〜'g'のアルファベットをリストに並べて，xという変数名に代入する。
- インデックス番号`0`番目のデータをprint関数を用いて表示する。

では，上のコードを下のセルに書いて動作を確認してみよう。

次に，'a'〜'g'すべてを取り出したいときの書き方は，
```
print(x)
print(x[:])
```
を覚えて欲しい。<br>
下のセルのコメントアウトを外して(#を消して)，実行(動作を確認）する。

In [ ]:
#print(x)

In [ ]:
#print(x[:])

次に，'a'〜'd'を抽出したいときは，
```
print(x[0:4])
print(x[:4])
```
とする。どちらでもよい。<br>
ここで注意すること。<br>
```
print(x[4])
```
とすると，`e`が表示される。
```
print(x[0:4])
```
では，'d'までである。<br>
`:`(コロン)の有無で意味が変わってくるので気をつけよう。<br>

以上のコードを下のセルに入力して，動作を確認しよう。

インデックス番号に`-`(マイナス)がついたら，逆順になる。表をみると直感的にわかるだろう。

|リストのデータ|'a',|'b',|'c',|'d',|'e',|'f',|'g'|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|インデックス$\rightarrow$|0|1|2|3|4|5|6|
|インデックス$\leftarrow$|-7|-6|-5|-4|-3|-2|-1|

リスト内のデータの抽出方法は様々である。プログラムの流れによって使い分ければよいが，今は自分がわかりやすい書き方を覚えておくとよいだろう。<br>
下のセルを実行して，その動作を確認しよう。

In [ ]:
print(x[1:5])

In [ ]:
print(x[5:1])

In [ ]:
print(x[-4:])

In [ ]:
print(x[-4:-1])

In [ ]:
print(x[-5:-2])

# 問題3
1. kihon2という変数名に，`姓，名，フリガナ(姓)，フリガナ(名)，性別，年齢, 生年月日`のリストを作成する。前に同じことをやっているのでわからない人はそこを見る。
1. 年齢のみを表示する。
1. 姓，名を表示する。
1. 生年月日のみを表示する。
1. 生年月日の出生月を表示する。

## リストのメソッド
メソッドとは，変数や値の後に`.`(ドット)を付けて呼び出すものである。これは，"クラスで定義された関数"とされるが，詳細は必要に応じて説明する。ここでは，`.`(ドット)に続くものがメソッドであることを覚えておいてほしい。<br>
リストによく用いるメソッドは，感覚的に上3つ(append, index, count)であろう。<br>

|メソッド|書きかた|内容|
|:-:|:-|:-|
|append|list.append(x)|リストの末尾に要素を一つ追加|
|index|list.index(x)|リスト中で x と等しい値を持つ最初の要素の位置をゼロから始まる添字で返す|
|count|list.count(x)|リストでの x の出現回数を返す|
|sort|list.sort()|リストの並べ替え|
|extend|list.extend(x)|イテラブルのすべての要素を対象のリストに追加し，リストを拡張|
|insert|list.insert(i, x)|指定した位置に要素を挿入|
|remove|list.remove(x)|xと等しい値を持つ最初の要素の削除|
|pop|list.pop(i)|リスト中の指定された位置にある要素をリストから削除して、その要素を返す|
|clear|list.clear()|リストの中のすべての要素を削除する，`del list[:]`と同じ|

下のようなリストを作成している。ここでは，appendの使い方について述べる。

In [ ]:
## 氏名，フリガナ，性別，生年月日，年齢，出身地，ID，パスワード  ##
p0 = ["吉本恵理子","ヨシモトエリコ","女",19661125,53,"鳥取県",942,"yeU59MzN"]
p1 = ["門田通夫","カドタミチオ","男",19600905,59,"沖縄県",277,"gnU4oJac"]
p2 = ["榎本定雄,エノモトサダオ","男",19720702,47,"奈良県",245,"u-Bxinn9"]
p3 = ["丹羽久男","タンバヒサオ","男",19770605,42,"岩手県",314,"nAYgoLtH"]
p4 = ["菅将文","カンマサフミ","男",19671029,52,"東京都",132,"6riM4Myf"]
p5 = ["八田政利","ヤツタマサトシ","男",19700330,49,"福井県",191,"Yhs9CBmX"]
p6 = ["富沢正道","トミザワマサミチ","男",19751030,44,"山形県",395,"8DJhFyTe"]
p7 = ["西原美奈","ニシハラミナ","女",19910601,28,"奈良県",62,"cTcWDQ6z"]
p8 = ["高松哲也","タカマツテツヤ","男",19680805,51,"広島県",397,"Ly-zOW4d"]
p9 = ["石井基之","イシイモトユキ","男",19940905,25,"佐賀県",424,"aO,TQGMr"]

appendの使い方は以下の通りである。挿入したいデータをappendの()に入れて，実行するだけである。<br>
ここでよくすることで注意する。何回も実行すると，同じデータが実行した回数分追加されるので注意しよう。

In [ ]:
# 上のp0〜p9の末尾に下の血液型を追加する。
p0.append("A")
print(p0)
## 実行は一回のみ。ために２回実行すると，'A'が二つ，3回実行すると，'A'が3つ追加されている。

同じように，p1〜p9も追加してみよう。

In [ ]:
#p1 "A"

In [ ]:
#p2 "AB"

In [ ]:
#p3 "O"

In [ ]:
#p4 "A"

In [ ]:
#p5 "B"

In [ ]:
#p6 "A"

In [ ]:
#p7 "B"

In [ ]:
#p8 "A"

In [ ]:
#p9 "O"

indexの使い方について述べる。<br>
indexは指定した文字や数値の位置がどこか取得することができる。

例えば，
```
num = [10,11,12,13,14,15,16,17,18,19]
```
というリストがある。<br>
indexは，このリストの中に，`16`は何番目に存在するか？と調べるときなどに用いる場合が多い。
```
num.index(16)
```
と書く。<br>
この動作について下のセルに書いて確認しよう。

In [ ]:
## 上のコードをコピペして動作を確認する。

次に，countの使い方について述べる。<br>
countは，あるリストに，指定した値(もしくは文字，真偽値)がいくつ存在するのか，その値を返すメソッドである。<br>
例えば，
```
boo = [True,False,False,True,False,True,True,False,True,False]
```
というリストがある.<br>
このリストの中に，TrueやFalseが何個あるのか，というときに調べるときに，
```
boo.count(True)
```
ように用いる。

In [ ]:
## 上のコードをコピペして動作を確認する。

このように，リスト(変数名)のあとに`.`(ドッド)に続くメソッドを指定するパターンとなっている。<br>
プログラムは予め決められたルールに従って書くと，目的に応じて，様々なデータを取得するためのプログラム(指示を与えること)ができる。<br>
つまり，上に書いたメソッドの書き方はパターンが決められており，あとは仕様によって書き方が変わる。

#### len関数の使い方
`len`関数は，()の中にあるデータの長さや要素の数を取得する。len関数の書式は，
```
len(boo)
len(num)
```
となる。<br>
リストの中のデータ数の大きさや，文字の長さを調べるのに用いる一つの方法である。<br>

In [ ]:
# print(len(boo))
# print(len(num))

<font size=5 color=red>
重要<br></font>

<font size=5>
これらリストの操作と同じようなことが文字列に作用させることができる。<br>
</font>

- "宝塚太郎"のような文字列を数えるときもlen関数を使うことができる。
- インデックス番号を使って文字列の一部を抽出，分割，結合(前に示した)することもできる。
- 文字列の一部を置き換えることができる。
- 特定の文字を検索することができる。
- その他

これらは，必要に応じて用いる。わからないときは，ググったら何かヒットする。

例えば，`宝塚太郎`を姓と名に分けて取得するコードの一例は，
```
name = '宝塚太郎'
sei = name[:2]
mei = name[2:]
```
となる。

文字を置き換えるコードは，
```
name = '宝塚太郎'
name2 = name.replace('宝塚','和歌山') ## 宝塚を和歌山へ
print(name)
print(name2)
```
となる。

文字を検索するときは，
```
address = "和歌山県和歌山市中之島2252"
fw ="中之島"
print(address.find(fw))
## ただし，最初の文字のインデックスを返す。
## すべての文字のインデックスを取得するには別にプログラムを考える必要がある。
```
となる。

# タプル(tuple)
リストを表す[]が()に変わった形をタプルという。タプルはリストのようにタプルの中のデータに何が含まれているのか，指定したデータの有無やインデックスは取得可能であるが，追加や変更をすることができない。

In [ ]:
## p0をタプルに変更する
p0_tuple = tuple(p0)
p0_list = list(p0_tuple)
print(p0_tuple)
print(p0_list)

In [ ]:
## リストデータの置き換えができるか？
p0_list[1] = "abc"
print(p0_list)
p0_tuple[1] = "abc"
print(p0_tuple)

In [ ]:
## インデックスの取得
print(p0_list.index(53))
print(p0_tuple.index(53))

In [ ]:
## countはできるか？
boo = [True,False,False,True,False,True,True,False,True,False]
boo_list = boo.copy()
boo_tuple = tuple(boo)
print(boo_tuple)
print(boo_list.count(True))
print(boo_tuple.count(True))

p0

<font size=3>
ポイント<br>
    
- まとまったデータを扱いたいとき，第一選択になるのは，`リスト`である。
- リストを用いてデータを整理し，必要に応じてtuple形式に変える。
- tupleは追加や変更はできないが，その中身をみることはリストと同じように可能である。
- tupleを指定するときは，最初から行なうのではなく，変更されたくないデータや固定されるべきデータとしたいときのみ用いると便利である。

</font>

# 問題4
dataという変数名にリスト，
```
data = ["吉本恵理子","ヨシモトエリコ","女",19661125,53,"鳥取県",942,"yeU59MzN"]
```
がある。
次の問いについて，適切なコードを書いてみよう。
1. "吉本恵理子"を姓と名に分けて，姓，名の順にリスト形式で現す。
1. "ヨシモトエリコ"を姓と名に分けて，姓，名の順にリスト形式で現す。
1. 吉本さんの生年月日は，19661125である。生年月日のインデックスはどこか記す。
1. 吉本さんの生年月日は，1966年11月25日である。生年月日は変わらない。これをタプルで現す。
1. data2という新しい変数名に，dataの"吉本恵理子"を姓と名でリストにしたもの，"ヨシモトエリコ"を姓と名でリストにしたものに置き換える。
1. 生年月日の19661125を西暦，月，日に書き換えられたタプルに置き換える。

In [ ]:
## 1

In [ ]:
## 2

In [ ]:
## 3

In [ ]:
## 4

In [ ]:
## 5

In [ ]:
## 6

# 辞書型
他のプログラミング言語にない，最強のデータ形式である。様々なデータを扱うことができ，非常に便利なデータ形式である。
### 基本構造
辞書型はPython特有の表記方法であろう。少し複雑かもしれないが，構造を覚えてしまえば簡単である。色々なところで使われるのでぜひ覚えおきたい。<br>
辞書型の基本構造を示す。<br>
```
{key1:value1, key2:value2, key3:value3, key4:value4,…}
```
となる。`{}`で囲まれ，要素ごとに，`,`で区切られており，リストやタプルのように順番はない。その代わり，`key`によって，値を得ることができる。また，この辞書型も変数名に代入することができる。<br>
さて，リストとタプルの単元で書いたと思うが，次のコードをここでもう一度書いてみよう。

```
p0 = ["吉本恵理子","ヨシモトエリコ","女",19661125,53,"鳥取県",942,"yeU59MzN"]
p1 = ["門田通夫","カドタミチオ","男",19600905,59,"沖縄県",277,"gnU4oJac"]
p2 = ["榎本定雄,エノモトサダオ","男",19720702,47,"奈良県",245,"u-Bxinn9"]
p3 = ["丹羽久男","タンバヒサオ","男",19770605,42,"岩手県",314,"nAYgoLtH"]
p4 = ["菅将文","カンマサフミ","男",19671029,52,"東京都",132,"6riM4Myf"]
p5 = ["八田政利","ヤツタマサトシ","男",19700330,49,"福井県",191,"Yhs9CBmX"]
p6 = ["富沢正道","トミザワマサミチ","男",19751030,44,"山形県",395,"8DJhFyTe"]
p7 = ["西原美奈","ニシハラミナ","女",19910601,28,"奈良県",62,"cTcWDQ6z"]
p8 = ["高松哲也","タカマツテツヤ","男",19680805,51,"広島県",397,"Ly-zOW4d"]
p9 = ["石井基之","イシイモトユキ","男",19940905,25,"佐賀県",424,"aO,TQGMr"]
```
というデータがある。

左から，氏名，フリガナ，性別，生年月日，年齢，出身地，ID，パスワード　という順番にデータがある。<br>
データの意味がわかっていれば，これ以上触る必要はないかもしれないが，厳密なデータとして扱いたいときは，検索機能を備えたオブジェクトデータにしたい。そのようなときに辞書型が役立つだろう。

### 辞書形式の作り方
IDで管理したい場合，
```
data_dict = {942:["吉本恵理子","ヨシモトエリコ","女",19661125,53,"鳥取県","yeU59MzN"],
            277:["門田通夫","カドタミチオ","男",19600905,59,"沖縄県","gnU4oJac"],
            245:["榎本定雄,エノモトサダオ","男",19720702,47,"奈良県",245,"u-Bxinn9"],
            314:["丹羽久男","タンバヒサオ","男",19770605,42,"岩手県",314,"nAYgoLtH"],
            132:["菅将文","カンマサフミ","男",19671029,52,"東京都","6riM4Myf"],
            191:["八田政利","ヤツタマサトシ","男",19700330,49,"福井県","Yhs9CBmX"],
            395:["富沢正道","トミザワマサミチ","男",19751030,44,"山形県","8DJhFyTe"],
            62:["西原美奈","ニシハラミナ","女",19910601,28,"奈良県","cTcWDQ6z"],
            397:["高松哲也","タカマツテツヤ","男",19680805,51,"広島県","Ly-zOW4d"],
            424:["石井基之","イシイモトユキ","男",19940905,25,"佐賀県","aO,TQGMr"]
            }
```
というように，書くことができる。<br>
これで，key(:より左側の部分)で検索をかけることができる。

In [ ]:
## data_dictの読み込み
data_dict = {942:["吉本恵理子","ヨシモトエリコ","女",19661125,53,"鳥取県","yeU59MzN"],
            277:["門田通夫","カドタミチオ","男",19600905,59,"沖縄県","gnU4oJac"],
            245:["榎本定雄","エノモトサダオ","男",19720702,47,"奈良県","u-Bxinn9"],
            314:["丹羽久男","タンバヒサオ","男",19770605,42,"岩手県","nAYgoLtH"],
            132:["菅将文","カンマサフミ","男",19671029,52,"東京都","6riM4Myf"],
            191:["八田政利","ヤツタマサトシ","男",19700330,49,"福井県","Yhs9CBmX"],
            395:["富沢正道","トミザワマサミチ","男",19751030,44,"山形県","8DJhFyTe"],
            62:["西原美奈","ニシハラミナ","女",19910601,28,"奈良県","cTcWDQ6z"],
            397:["高松哲也","タカマツテツヤ","男",19680805,51,"広島県","Ly-zOW4d"],
            424:["石井基之","イシイモトユキ","男",19940905,25,"佐賀県","aO,TQGMr"]
            }

## keyの取得
data_key = data_dict.keys()
## もしくはリストとして取り出す
# data_key = list(data_key)
data_key = [*data_dict]
# *data_key, = data_dict


## valueの取得
data_values = data_dict.values()


## IDによる検索
print(data_dict[data_key[2]])

このように，辞書型に検索機能を持たせることができる。膨大なデータを扱うためには，検索機能が重要である。<br>
上のデータにもう少し検索機能を持たせてみよう。<br>
IDで検索でき，出力されるデータはリスト形式で，7つのデータ(氏名，フリガナ，性別，生年月日，年齢，出身地，パスワード)が出力される。これらのデータのうち，必要なデータのみを出力(例えば，"出身地"というキーで出身地を出力)するようなコードを書いてみよう。<br>

data_dictのkeyが424のvalue
```
["石井基之","イシイモトユキ","男",19940905,25,"佐賀県","aO,TQGMr"]
```
を，リストを，検索できるように変えてみると，
```
{"name":"石井基之", "furigana":"イシイモトユキ", 
 "sex":"男", "birthday":19940905, "age":25, "birthplace":"佐賀県", "password":"aO,TQGMr"}
```
と書くことができる。<br>
これをdata_dictのkey424のvalueと入れ替えて，出身地を検索してみよう。

In [ ]:
## (例)424のvalueの入れ替え
## 入れ替え前の data_dictの確認
print(data_dict)

## 入れ替える
data_dict[424] = {"name":"石井基之", "furigana":"イシイモトユキ", 
 "sex":"男", "birthday":19940905, "age":25, "birthplace":"佐賀県", "password":"aO,TQGMr"}

## 入れ替え後のdata_dictの確認。424は辞書型になっているだろう。
print(data_dict)

このようにしておくと，
```
data_dict[424]["name"]
data_dict[424]["age"]
```
と書けて，名前や年齢など，特定の情報のみを抽出することができる。

In [ ]:
# 動作の確認
print(data_dict[424]["name"])
print(data_dict[424]["age"])

# 問題5
data_dictに含まれる他のデータについても，
```
{"name":"石井基之", "furigana":"イシイモトユキ", 
 "sex":"男", "birthday":19940905, "age":25, "birthplace":"佐賀県", "password":"aO,TQGMr"}
```
な形に置き換えなさい。

In [ ]:
## コード記入欄
###

 





###
print(data_dict)

# 外部データの読み込み
医療に関する多くのデータを適切に扱うためには，2次元の表形式のデータフレームを上手に取り扱える想像力が必要になる。<br>
その多くのデータは，時系列データである。近年では，サンプリング間隔は1msecのデータ，大量のデータを同時に取り扱う機会が増えてきていおり，分析や解析手法は高度化してきている。<br>

ここでは，csv形式のデータを読み込み，読み込んだデータを加工して，出力する方法について学ぶ。

### CSVデータとは
CSVは，Comma Separated Valuesの略で，`,`(カンマ)で区切られたファイル形式のデータを指し，テキストデータの一種でエクセルのような2次元のデータフレームを扱うときに用いられる形式である。`,`の代わりにタブ形式のファイル(.TSV)もあるが，CSV形式のファイルの存在が割合が多い。

### CSV形式データの読み込み

外部のライブラリのPandasを使うことを強くお勧めする。<br>
Pandasを用いると，データの統計量を取得したり，可視化が簡便にでき，さらにデータ分析（データサイエンス）や機械学習で必要となる作業を簡単に行うことができる。<br>
ここでは，先に述べた便利機能を使う前の，データの読み込みとして，Pandasを使う。<br>
Pandasを使って外部csvファイルを読み込むために，
```
import pandas as pd
```
として，ライブラリをこのカーネルに取り入れる。<br>
次に，pandasのメソッドの`read_csv`を使い，
```
pd.read_csv(ファイル名)
```
を使ってファイル内のデータを取り込む。<br>
では，実際にやってみよう。

In [ ]:
# pandasをpdとしてインポートする
import pandas as pd

# 'pi.csv'というファイルの中身を読み込んで，dfという変数名に代入する。
df = pd.read_csv('/Users/tumh/Desktop/personal.csv')

In [ ]:
# dfの最初の5行を確認する
df.head()

In [ ]:
# dfの最後の5行を確認する
df.tail()

ここまで進むと，Pythonの第一関門は突破された！<br>
この後は，この読み込んだデータをどうするのか？統計処理したいのか？，データ整理したいのか？，計算したいのか？，によって変わってくる。<br>
<br>

#### 読み込んだデータをdata_dictに追加してみよう。
ここではdfのデータを一つずつ読み込み，`data_dict`に追加していく。<br>
リストへの追加は`append`を使う。辞書型の追加は`update`となる。<br>

さて，dfはDataFrame型である。

はじめに，列名を変更する。変更する名前は，data_dictで使えるように同じキーを使用しよう。

In [ ]:
# DataFrame型(df)の列名へのアクセスは，df.columnsで，それを代入し直す(置き換える)列名をリストで与える。
df.columns = ["name", "furigana", "sex", "birthday", "age", "birthplace",'number', "password"]
df.head()

DataFrameを辞書型に置き換えたいのであるが，data_dictに含まれるキーと合うように転置（縦と横を入れ替える）。置き換えやすくするために，
```
dfT = df.T
dfT
```

In [ ]:
dfT = df.T
dfT

このdfTを辞書型に変換する。それを`dfT_dict`に代入する。
```
dfT_dict = dfT.to_dict()
```
と下のセルに書いてみよう。to_dict()はDataFrameからdictionaryに変換するメソッドである。

In [ ]:
dfT_dict = dfT.to_dict()

dfT_dictのデータのKeyに該当する値を取り出し，そのvalueのnumberを該当するvalueのKeyとし，valueに含まれるnumberを削除することで，data_dictと同じ内容にすることができる。<br>
ここで，辞書型内の要素を削除する方法は，`del文`もしくは，`pop()`が良いでしょう。<br>
`pop()`は削除した値を返し，`del文`は指定したものを削除する。ここでは両方使う<br>
では，
```
dfT_dict.keys()
```
と書いて，dfT_dictのキーの一覧をみてみよう。

In [ ]:
# ここに上のコードを書いて確認する
dfT_dict.keys()

そのうちの一つのデータを先に書いた手続きに従って整理してみると，
```
newid = dfT_dict[0].pop('number')
dfT_dict[newid] = dfT_dict[0]
del dfT_dict[0]
```
となる。下のセルで確認してみよう。

In [ ]:
## 上のコードを書いて動作を確認する

これをdfT_dictすべてのvalueに対して行いたい。<br>
次は，
```
newid = dfT_dict[1].pop('number')
dfT_dict[newid] = dfT_dict[1]
del dfT_dict[1]
```
となる。その次は，
```
newid = dfT_dict[2].pop('number')
dfT_dict[newid] = dfT_dict[2]
del dfT_dict[2]
```
となる。そして，
```
newid = dfT_dict[3].pop('number')
dfT_dict[newid] = dfT_dict[3]
del dfT_dict[3]
```
となる。どこが変わっているだろうか？<br>
すでに気づいているだろう。そう，3箇所の数値が変わっているだけである。<br>
このようなケースは，繰り返し文という構文を用いるのがよい。<br>
for文はプログラムを勉強する上で，重要な構文である。

### for文
基本形は，
```
for i in range(10):
    print(i)
```
である。<br>
`for i in range(10)`で，`i` に0,1,2,...,9の順に代入するという意味になる。そして，`:`で，区切って，この構文はまだ終わらないことを教える(プログラムは一行ずつ順番に読んでいくので，`:`がなければこれで終わり...とコンピュータが判断してしまう)。<br>

<img src="for.png" width="400px"><br>
先頭から半角で4つのスペースを与えて，操作・処理したい内容を指示する。ここでは，`print(i)`(`i`(数字)を表示)としたした。<br>
これは，**for文**のパターンである。フローチャートが書けば下図のようになる。<br>
<img src="kurikaeshi.png" width="700px"><br>

重要な点を次にまとめる。<br>
- シー-ケンス型のデータをある記号に代入(`in`)する。
- `:`を忘れない。
- 具体的な処理はブロックを作って指示する。ブロックと単位は，半角スペース4つ分であること。
- 繰り返し練習する。

In [ ]:
## for文の基本形をこのセルに書いて動作を確認してみよう。

では，早速`dfT_dict`の処理を繰り返し行わせるプログラム書いてみよう。<br>
その前に，もう一つ便利なことを示しておく。<br>
for文の場合，基本形の`range()`の部分は，シーケンスであれば何でも入る(ほとんどのシーケンスデータを処理してくれる)。つまり，配列しているデータは何でもよいことになる。もちろんリストもその一つに含まれる。<br>
ということは，ここの`dfT_dict`のキーをリスト化してそれをfor文に用いることができる。<br>
`dfT_dict`のキーは，<br>
```
dfT_dict_key = [*dfT_dict]
```
<u>**新たに構文を作る必要はない！！**</u><br>
<font size=5 color=red>プログラムの基本は，すでに存在するものをできるだけ再利用すること</font>

`dfT_dict_key`を使ってfor文を書いてみると，

```
for i in dfT_dict_key:
    newid = dfT_dict[i].pop('number')
    dfT_dict[newid] = dfT_dict[i]
    del dfT_dict[i]
```
となる。<br>
変更できているか，
```
print(dfT_dict)
```
で確認する。

In [ ]:
# 上のコードを書いて確認する

In [ ]:
#

そして，もともと存在したデータ`data_dict`と今回整理したデータ`dfT_dict_key`を合わせて新しいデータベースを作って完了となる。<br>
要するに，`data_dict`と`dfT_dict_key`を結合すればよい。<br>
辞書の結合や追加は`update`でできる。
コードは，
```
data_dict.update(dfT_dict_key)
```
である。これは，`data_dict`に`dfT_dict_key`を合わせる,ということである。<br>
したがって，
data_dictの中身が増えているはずである！

<font size=3>**辞書型のまとめ**</font><br>

- 辞書型は汎用性に優れる。
- for文はプログラム言語を勉強する上で基本的な構文である。その作用について理解しよう。
- 利点・欠点を理解して使い方を勉強する。

おまけ<br>
以上の内容を書いているとあることに気づく。`data_dict`に`dfT_dict_key`を結合する方法を。<br>
そのコードを書いてみよう。<br>

In [ ]:
import pandas as pd ## import は一回すればいいので不要かも。

## 乱数の部分がnumberとしてキーになる。
## 行名にして読みこんでおく。ここが変更するためのポイント。
df = pd.read_csv('/Users/tumh/Desktop/personal.csv', index_col=6)
## 列名を変えて，転置して，DataFrameから辞書型に変換すると，前にやったdfT_dict_keyの状態になる。
df.columns = ["name", "furigana", "sex", "birthday", "age", "birthplace", "password"]
df = df.T
dfT_dict_key_1 = df.to_dict()
print(dfT_dict_key_1)
## 以上である。

あれ？for文を使わないていいじゃないか！！<br>
そうなんです，<font color=red>目的を達成するための方法は複数ある。</font>その中でも一番スマートな方法，わかりやすい方法を考案することがおもしろい。<br>
結果は同じだが，その過程は様々である。これを考えるのが楽しい！！

### 保存
外部のファイルからデータを読み込むことができたので，それを保存してみよう。<br>
一番手っ取り早いのが，`pickle`を使うことである。`pickle`はpythonに依存するデータ形式をすべて一時的に保存することができる。Pythonで扱えるデータは`pickle`を使って多分すべて保存できる。<br>
早速やってみよう。<br>
コードは2行で済み(importを含めばと3行)，
```
import pickle
with open(ファイル名,'wb') as ff:
    pickle.dump(オブジェクト, ff)
```
である。<br>
下のセルを実行すると，カレントディレクトリに，ファイル名が現れているだろう。

In [ ]:
import pickle
with open("file.pickle","wb") as ff:
    pickle.dump(data_dict,ff)

# Pandasを使ったデータ整理
データを読み込むために使用したPandasは，データを整理したり，簡単な集計作業をするときに非常に役に立つ。多くのデータは縦横に広がる2次元配列のデータであることが多い。PandasのDataFrameでは，2次元配列を操作する際に便利である。<br>
ここでは，データを読み込み，簡単な集計やグラフを書けるようにする。

- Pandasのread_csvを使って"file2.csv"の外部ファイルを読み込む
- データの全体をみる
- データを選択する

 * ilocを使って，特定のデータを取得する
 * 読み込んだデータの検索をかける

#### Pandasのインポート
Pandasを用いる際，一番最初に
```
import pandas as pd
```
と書く。

In [ ]:
# import pandas as pdと，このセルに書く

### 外部データの読み込み
外部データの読み込みは，前に行ったので，ここではコードだけ書いておく。<br>
ここでは，"file2020.csv"というファイルに存在するデータを読み込んで，適当な変数名(dat)に代入する。
```
dat = pd.read_csv("file2020.csv")
```
pd.read_csv()を用いる際，様々な条件を与えて読み込むことができる。
```
pd.read_csv?
```
のように，`?`を入れると，メソッドや関数の説明が表示される。

In [ ]:
## 詳細を知りたい人は，このセルを実行して説明を読む。もしくは，ググってみる。
import pandas as pd
pd.read_csv?

In [ ]:
## 上の説明を読んでこのセルに必要なコードを書く。
dat = pd.read_csv("/Users/tumh/Desktop/file2020.csv")
dat.head()

#### 全体の把握
データを読み込んだり，整理した後は，必ず全体をみなければならない。ここでは，`head()`や`tail()`で表の前後を確認した。その中身についてもう少し確認する。<br>
ここでは，名前やフリガナ，生年月日を除いてその属性を確認してみよう。
はじめに，`discribe()`を用いて，
```
dat.describe()
```
と書く。数値データであれば，平均や四分位数などが自動で出力される。<br>
データが文字の場合は，カウントしたり，どのようなデータが含まれるのか確認する。<br>
`value_counts()`を使うと，
bloodtypeの場合，
```
dat["bloodtype"].value_counts()
```
birthplaceの場合
```
dat["birthplace"].value_counts()
```
sexの場合，
```
dat["sex"].value_counts()
```
と列名を変えるだけで，取得することができる。<br>
これらは全体を把握するための一例である。その他にも様々なまとめ方があるので，データの内容に合わせた対応をしてほしい。<br>

では，ここで書いているコードを実際に動かして動作を確認してみよう。

In [ ]:
## discribe()を用いる

In [ ]:
## value_counts()を用いて，bloodtypeを

In [ ]:
## value_counts()を用いて，birthplaceを

In [ ]:
## value_counts()を用いて，sexを

### データの選択
リストのように，特定のデータのみにアクセスしたいとき，様々な方法があるが，ここでは`iloc`を使う。<br>
#### nameだけを取り出したいとき
Pythonでインデックスをカウントするときは，0,1,2,$\dots$と，`0`から数えるという決まりがあった。PandasのDataFrameでも同じように扱わなければならず，nameは0列目に存在する。<br>
ということは，datの0列目をすべて取得(表示)するコードは，
```
dat.iloc[:,0]
```
となる。<br>
一番最初に表示される名前を取り出したいときは，
```
dat.iloc[0,0]
```
となる。<br>
では，上から順番に1から数えるとして，10から20番目の人たちの名前を抽出したいときは，
```
dat.iloc[9:20,0]
```
となる。<br>
上から25番目までで，名前から性別の範囲を取得したい場合，
```
dat.iloc[:25,:3]
```
と書く。<br>
では，
```
dat.iloc[3:8,[0,4]]
```
のように書くと，どのようなデータが取得できるだろうか？
```
dat.iloc[:10,[2,4]]
```
のように書くと，どのようなデータが取得できるだろうか？
```
dat.iloc[100:,:2]
```
と書くとどうだろうか？<br>

それぞれセルに書いて動作を確認してみよう。

#### データの検索
どこに必要なデータが存在しているのかわからない。その場合は検索してみよう。<br>
一つの条件で検索したり，複数の条件で検索したりとケースによって検索の内容が変わってくる。<br>
ここでは，一つの条件で検索する方法，複数の条件で検索する方法について，それらのコードを書いてみよう。
`query()`というメソッドを使う。<br>
例えば，このデータの中に，10才未満の人だけを集めたいとき，
```
dat.query('age<10')
```
とし，10才以上30才未満のデータを抽出したいとき，
```
dat.query('10<=age<30')
```
として，検索できる。<br>
10才以上30才未満以外のデータは，
```
dat.query('not 10<=age<30')
```
とする。

次に，複数の条件で検索する場合の例を示す。<br>
50才代でO型の人は，
```
dat.query("50<=age<60 & bloodtype=='O'")
```
となり，同じ年代でO型以外の人は，
```
dat.query("50<=age<60 & bloodtype!='O'")
```
となる。さらに，和歌山県出身，20〜60才で，0型以外の人は，
```
dat.query("20<=age<=60 & bloodtype!='O' & birthplace=='和歌山県'")
```
となる。

このように比較演算子と列名やそこに含むデータを組み合わせることで独自の検索機能を持たせることができる。<br>
では，これらの動作を下に新たにセルを追加して，確認してみよう。

<font size=5 color=blue >問題6</font><br>
1. mydという変数名にfile2020.csvのデータを代入せよ。
1. 変数名mydの最初の部分を表示せよ。
1. 変数名mydのうち，最初から10行目以降，20行の計11行　　　のデータを表示せよ。
1. 近畿2府4県のデータは何件ずつ含まれるか求めよ。

以上，Pythonコードを下のセルに書いてみよう。必要に応じてセルは追加せよ。

#### まとめ
Pandasの汎用性は驚異である。ここで紹介したものはほんの一部である。<br>
将来必要なデータ解析スキルを助けるものとなるだろう。<br>
ここまでできれば，ググることで自分の技にすることができる。